<div *ngIf="!isFilterDisabled" class="btn-group filter-btn-group col-12 mt-3 mb-3">
  <button type="button" class="btn btn-light" [ngClass]="{'active': filterLast === 7}" (click)="setFilterLast(7)">
    Last 7 days
    <i class="fa-solid fa-check"></i>
  </button>
  <button type="button" class="btn btn-light" [ngClass]="{'active': filterLast === 14}" (click)="setFilterLast(14)">
    Last 14 days
    <i class="fa-solid fa-check"></i>
  </button>
  <button type="button" class="btn btn-light" [ngClass]="{'active': filterLast === 30}" (click)="setFilterLast(30)">
    Last 30 days
    <i class="fa-solid fa-check"></i>
  </button>
  <!-- <span class="link">
    <img class="small-icon" src="../../../assets/icons/icons8-refresh-48.png"
      data-bs-toggle="modal" data-bs-target="#myModal" (click)="buildSyncDateTimeSettings()"/>
  </span> -->
</div>
<div class=" table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Sl No.</th>
        <th>Ride Title</th>
        <th>Date</th>
        <th *ngIf="authService.isAdminUser()">Avg Speed (Kmph)</th>
        <th *ngIf="authService.isAdminUser()">Max Speed (Kmph)</th>
        <th>Distance (KM)</th>
      </tr>
    </thead>
    <tbody *ngIf="!loadingActivities">
      <tr *ngFor="let activity of activities | slice:0:limit; index as i;"
        [ngClass]="{'high-speed': authService.isAdminUser() && getAvgSpeed(activity.max_speed) >= 50}"
      >
        <td>{{i + 1}}</td>
        <td [attr.title]="activity.name" class="ellipsis">
          <a attr.href="https://www.strava.com/activities/{{activity.id}}" target="_blank">{{activity.name}}</a></td>
        <td>{{getDate(activity.start_date)}}</td>
        <td *ngIf="authService.isAdminUser()">{{getAvgSpeed(activity.average_speed)}}</td>
        <td *ngIf="authService.isAdminUser()" [ngClass]="{'danger': authService.isAdminUser() && getAvgSpeed(activity.max_speed) > 70}">{{getAvgSpeed(activity.max_speed)}}</td>
        <td>{{getDistance(activity.distance)}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="!limitExceeded && !loadingActivities && !noActivitiesFound">
      <tr>
        <td class="link" colspan="4" (click)="loadMore()">Load more</td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-danger" *ngIf="activities.length === 0 && noActivitiesFound">
  <strong>Info!</strong> No activities found, Please Sync Rides from My Strava Page...
</div>
<div class="alert alert-info" *ngIf="loadingActivities">
  <strong>Loading activities....</strong>
</div>
<div class="mb-5"></div>


<!-- <div class="toast" [ngClass]="{'show': syncDisabled}">
  <div class="toast-header">
    <strong class="me-auto">Sync Notification!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
  <div class="toast-body">
    <p>Sync is temporarily disabled for the time being. You will be notified once it is enabled again.</p>
  </div>
</div> -->

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title h3">Manual Sync Alert!</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" #closeModal></button>
      </div>

      <!-- Modal body -->
      <div *ngIf="lastSyncFetched" class="modal-body">
        You have last manually synced on {{lastSyncDateTime}}.
        <span *ngIf="!isSyncAllowed">Please Sync again after 24hrs from your last sync date time.</span>
        <span *ngIf="isSyncAllowed">Manual Sync cannot be done more than once in 24 hours. Do you still want to proceed?</span>
      </div>
      <div *ngIf="!lastSyncFetched" class="modal-body">
        <span *ngIf="isSyncAllowed">Manual Sync cannot be done more than once in 24 hours. Do you still want to proceed?</span>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn"
          [ngClass]="{'btn-secondary': isSyncAllowed, 'btn-danger': !isSyncAllowed}"
         data-bs-dismiss="modal">
          {{isSyncAllowed ? 'Cancel' : 'Close'}}</button>
        <button *ngIf="isSyncAllowed" type="button" class="btn btn-primary" (click)="syncUserRides(); closeModal.click()">Continue</button>
      </div>

    </div>
  </div>
</div>
