<div class="background">
  <div class="box">
    <div class="top-cover">
      <div class="belt">
        <div class="dots">
          <span style="--i: 1"></span>
          <span style="--i: 2"></span>
          <span style="--i: 3"></span>
          <span style="--i: 4"></span>
          <span style="--i: 5"></span>
          <span style="--i: 6"></span>
        </div>
      </div>
      <div class="glass"></div>
      <div class="alien">👽</div>
    </div>
    <div class="bottom-light">
      <div class="dots">
        <span style="--i: 1"></span>
        <span style="--i: 2"></span>
        <span style="--i: 3"></span>
        <span style="--i: 4"></span>
        <span style="--i: 5"></span>
        <span style="--i: 6"></span>
      </div>
      <div class="light"></div>
    </div>
  </div>
</div>
