<div>
  <div class="row">
    <div class="col-6">
      <h3 class="h3">Team Leaderboard</h3>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-dark" (click)="refreshLeaderBoard()">Refresh</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ranks</th>
        <th></th>
        <th>Teams</th>
        <th>KMs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams; let i = index" [ngClass]="{'highlight': aw80dUser && aw80dUser.team_name === team.name}">
        <td>{{i + 1}}</td>
        <td><img class="team-logo" alt="{{team.name}}" src="{{team.logo}}"/></td>
        <td>{{team.name}}</td>
        <td>
          <span *ngIf="team.total > 0">{{team.total}}</span>
          <div *ngIf="team.total < 0" class="progress">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:100%"></div>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-right total"><b>Total</b></td>
        <td>{{getTotals()}}</td>
      </tr>
    </tfoot>
  </table>
  <div class="alert alert-info" *ngIf="teams.length == 0">
    <strong>Loading...</strong>
  </div>
</div>
