<div class="container full-width">
  <div class="row clear-margin-lf pad-0">
    <div class="col-6">
      <h3 class="h3">Team Leaderboard</h3>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-dark" (click)="refreshLeaderBoard()" [disabled]="teams[0]?.total < 0">Refresh</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="small-table-cell">Ranks</th>
        <th class="small-table-cell"></th>
        <th>Teams</th>
        <th class="km-progress">KMs</th>
        <th *ngIf="analysis">KMs/day</th>
        <th *ngIf="analysis">KMs/rider</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams; let i = index"
        [ngClass]="{
          'highlight': aw80dUser && aw80dUser.team_name === team.name,
          'table-row-selected': isAdmin && (team.teamId === selectedTeam?.teamId)
        }"
        [attr.data-bs-toggle]="isAdmin? null: 'modal'" [attr.data-bs-target]="isAdmin? null: '#scatteredModal'"
        (click)="loadTeamList(team)"
      >
        <td class="small-table-cell">{{i + 1}}</td>
        <td class="small-table-cell team-logo-td">
          <img class="team-logo hidden" alt="{{team.name}}" src="{{team.logo}}" />
          <img class="big-logo" alt="{{team.name}}" src="{{team.logo}}" />
        </td>
        <td>{{team.name}}</td>
        <td class="km-progress">
          <span *ngIf="team.total > 0">{{team.total}}</span>
          <div *ngIf="team.total < 0" class="progress">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:100%"></div>
          </div>
        </td>
        <td *ngIf="analysis">
          {{(team.total / 32).toFixed(0)}}
        </td>
        <td *ngIf="analysis">
          {{(team.total / (32*20)).toFixed(0)}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-right total"><b>Total</b></td>
        <td>{{getTotals()}}</td>
      </tr>
    </tfoot>
  </table>
  <div class="alert alert-info" *ngIf="teams.length == 0">
    <strong>Loading...</strong>
  </div>
</div>



<div class="modal fade" id="scatteredModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" *ngIf="selectedTeam?.name">

      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title h6">Top 10 riders of {{selectedTeam.name}}</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" #closeModal></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-plot-graph [teamId]="selectedTeam.teamId"></app-plot-graph>
      </div>
    </div>
  </div>
</div>

