<!-- <div class="container">
  <img src="../../../../assets/img/gifs/launch.gif" />
</div> -->

<app-aw80d></app-aw80d>

<!-- <app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[10]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[1]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[2]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[3]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[4]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[5]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[6]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[7]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[8]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[9]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[10]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[11]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[12]"></app-trend-graph>
<hr/>

<app-trend-graph *ngIf="aw80dTeamTrends.length" [trendData]="aw80dTeamTrends[13]"></app-trend-graph>
<hr/> -->
