<div class="container">

  <div class="mt-4 mb-3 rounded">
    <h2 class="h2">AROUND THE WORLD IN 80 DAYS 2022 (Completed)</h2>
  </div>
</div>

<div class="aw80d-tabs container mb-3">
  <div class="row">
    <div
      class="tab-header col-3"
      [ngClass]="{'selected': selectedTab === 'leaderboard'}"
      (click)="changeTab('leaderboard')"
    >
      <i class="fa-solid fa-ranking-star"></i> Leaderboards
    </div>
    <div
      class="tab-header col-3"
      [ngClass]="{'selected': selectedTab === 'ranking'}"
      (click)="changeTab('ranking')"
    >
      <i class="fa-solid fa-ranking-star"></i> Top Riders
    </div>
    <div
      class="tab-header col-3"
      [ngClass]="{'selected': selectedTab === 'challenge'}"
      (click)="changeTab('challenge')"
    >
      <i class="fa-solid fa-person-biking"></i> Challenge
    </div>
    <div
      class="tab-header col-3"
      [ngClass]="{'selected': selectedTab === 'trends'}"
      (click)="changeTab('trends')"
    >
      <i class="fa-solid fa-arrow-trend-up"></i> Trends
    </div>
  </div>
</div>

<div *ngIf="selectedTab === 'leaderboard'">
  <div class="container full-width">
    <img class="sayonara-aw80d-img" src="../../assets/img/banner/bye-bye-aw80d2.0.jpeg" alt="Sayo Nara Aw80d"/>
  </div>
  <div class="container">
    <p class="text-secondary">Around the world in 80 days i.e. 40075 kms (The Circumference of the Earth). Multiple teams, each team of 22 riders must cycle 40075 kms in 80 days. Names of the Teams (derived from first Satellite of a Country): Aryabhata (India), Sputnik (USSR), Explorer (USA), Oshumi (Japan) etc.
      <br/><br/>
      <b>Note: </b> Each rider must complete 1500km to qualify for the medal and certificate.
    </p>
    <!-- <div class="alert alert-warning">
      <strong>🚨 IMPORTANT ANNOUNCEMENT 🚨</strong> <br/><br/>
      When 3 satellite 🛰️where into the unknown🌌 causing a lot of despair and worry among all concerned, 66 Astro-rangers 👩‍🚀👨‍🚀 decided to take up the challenge to bring the reign in these lost satellites back to an orbit where the quest for #AW80D can be continued.
      <br/>
      <br/>
      The Command🏣 Centre is Happy to announce the list of 38 Astro Rangers who generated 250+ Newtons of Thrust within a available time frame of 7 days. <span class="link" *ngIf="!alertFullMessage" (click)="alertFullMessage = true">Read more</span>
      <div *ngIf="alertFullMessage">
        <br/>
        💥 <strong>CONGRATULATIONS</strong> 💥
        <br/>
        <br/>
        Go to the Challenge Tab to see the List of Qualifiers who are Awarded an Exclusive #AW80D Bandana : which needs to be Earned 🏆 and Cannot be Bought 💵.
        <br/>
        <br/>
        "PS : SAY NO TO WAR, ☮️ AW80D IS A CHALLENGE NOT COMPETITION."
        By : United Nations 🇺🇳 <span class="link" *ngIf="alertFullMessage" (click)="alertFullMessage = false">Read less</span>
      </div>
    </div> -->
  </div>

  <!-- <app-earth-satellite
    [teams]="teamLeaderboardList"
  ></app-earth-satellite>
  <hr/> -->
  <!-- <div *ngIf="lostTeams.indexOf(aw80dUser.team_id) === -1"> -->
    <app-team-leaderboard
      [isAdmin]="isAdmin"
      [teams]="teamLeaderboardList"
      [aw80dUser]="aw80dUser"
      [numberOfDay]="numberOfDay"
      (refresh)="refreshTeamTotal()"
    ></app-team-leaderboard>
  <!-- </div> -->
  <br/>
  <!-- <div *ngIf="lostTeams.indexOf(aw80dUser.team_id) === -1"> -->
    <aw80d-my-team
      *ngIf="isAw80D2022Participant || isAdmin"
      [isAdmin]="isAdmin"
      [teamId]="aw80dUser.team_id"
      [numberOfDay]="numberOfDay"
    ></aw80d-my-team>
  <!-- </div> -->
  <br/>
  <app-my-event-rides *ngIf="isAw80D2022Participant || isAdmin"></app-my-event-rides>
</div>

<div *ngIf="selectedTab === 'ranking'">
  <app-top-performers-leaderboard
  [loadingTopPerformers]="loadingTopPerformers"
  [topPerformerData]="topPerformerData"
  (refresh)="refreshLeaderboard()"
  ></app-top-performers-leaderboard>
</div>
<div *ngIf="selectedTab === 'challenge'">
  <app-challenge
    [boosterWeekData]="boosterWeekData"
    [boosterWeek2Data]="boosterWeek2Data"
    [boosterWeek3Data]="boosterWeek3Data"
    [loadingBoosterData]="loadingBoosterData"
    [loadingBooster2Data]="loadingBooster2Data"
    [loadingBooster3Data]="loadingBooster3Data"
  ></app-challenge>
</div>

<div *ngIf="selectedTab === 'trends'">
  <app-trends
    [loadingTeamTrends]="loadingTeamTrends"
    [teamTrends]="teamTrends"
    [teamNames]="teamNames"
    [numberOfDay]="numberOfDay"
  ></app-trends>
</div>
