<div class="container">

  <div class="mt-4 mb-5 rounded">
    <h2 class="h2">AROUND THE WORLD IN 80 DAYS</h2>
    <p class="text-secondary">Around the world in 80 days i.e. 40075 kms (The Circumference of the Earth). Multiple teams, each team of 22 riders must cycle 40075 kms in 80 days. Names of the Teams (derived from first Satellite of a Country): Aryabhata (India), Sputnik (USSR), Explorer (USA), Oshumi (Japan) etc.</p>
  </div>

  <app-team-leaderboard
    [teams]="teamLeaderboardList"
    [aw80dUser]="aw80dUser"
    (refresh)="refreshTeamTotal()"
  ></app-team-leaderboard>
  <br/>
  <br/>
  <aw80d-my-team
    *ngIf="isAw80D2022Participant"
    [aw80dUser]="aw80dUser"
  ></aw80d-my-team>
  <br/>
  <br/>
  <app-my-event-rides *ngIf="isAw80D2022Participant"></app-my-event-rides>
</div>
