<div class="container">

  <div class="mt-4 mb-3 rounded">
    <h2 class="h2">AROUND THE WORLD IN 80 DAYS</h2>
  </div>
</div>

<div class="aw80d-tabs container mb-3">
  <div class="row">
    <div
      class="tab-header col-3"
      [ngClass]="{'selected': selectedTab === 'leaderboard'}"
      (click)="changeTab('leaderboard')"
    >
      <i class="fa-solid fa-ranking-star"></i> Leaderboards
    </div>
    <div
      class="tab-header col-3"
      [ngClass]="{'selected': selectedTab === 'ranking'}"
      (click)="changeTab('ranking')"
    >
      <i class="fa-solid fa-ranking-star"></i> Top Riders
    </div>
    <div
      class="tab-header col-3"
      [ngClass]="{'selected': selectedTab === 'challenge'}"
      (click)="changeTab('challenge')"
    >
      <i class="fa-solid fa-person-biking"></i> Challenge
    </div>
    <div
      class="tab-header col-3"
      [ngClass]="{'selected': selectedTab === 'trends'}"
      (click)="changeTab('trends')"
    >
      <i class="fa-solid fa-arrow-trend-up"></i> Trends
    </div>
  </div>
</div>

<div *ngIf="selectedTab === 'leaderboard'">
  <div class="container">
    <p class="text-secondary">Around the world in 80 days i.e. 40075 kms (The Circumference of the Earth). Multiple teams, each team of 22 riders must cycle 40075 kms in 80 days. Names of the Teams (derived from first Satellite of a Country): Aryabhata (India), Sputnik (USSR), Explorer (USA), Oshumi (Japan) etc.</p>
  </div>
  <app-earth-satellite
    [teams]="teamLeaderboardList"
  ></app-earth-satellite>
  <hr/>

  <app-team-leaderboard
    [isAdmin]="isAdmin"
    [teams]="teamLeaderboardList"
    [aw80dUser]="aw80dUser"
    (refresh)="refreshTeamTotal()"
  ></app-team-leaderboard>
  <br/>
  <aw80d-my-team
    *ngIf="isAw80D2022Participant || isAdmin"
    [teamId]="aw80dUser.team_id"
  ></aw80d-my-team>

  <br/>
  <app-my-event-rides *ngIf="isAw80D2022Participant || isAdmin"></app-my-event-rides>
</div>

<div *ngIf="selectedTab === 'ranking'">
  <app-top-performers-leaderboard
  [loadingTopPerformers]="loadingTopPerformers"
  [topPerformerData]="topPerformerData"
  (refresh)="refreshLeaderboard()"
  ></app-top-performers-leaderboard>
</div>
<div *ngIf="selectedTab === 'challenge'">
  <app-challenge
    [boosterWeekData]="boosterWeekData"
    [loadingBoosterData]="loadingBoosterData"
  ></app-challenge>
</div>

<div *ngIf="selectedTab === 'trends'">
  <app-trends></app-trends>
</div>
