<section>
  <app-server-down *ngIf="!serverHealth"></app-server-down>
  <div *ngIf="serverHealth"
    class="container d-flex flex-column"
  >
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 py-6 py-md-0">
        <div class="card shadow zindex-100 mb-0">
          <div class="card-body px-md-5 py-5 text-center">
            <div class="mb-3">
              <h6 class="h3">My Strava</h6>
              <a
                *ngIf="!(athlete?.id) && !stravaProfileFound"
                class="btn btn-lg px-5 btn-block"
                href="{{'https://www.strava.com/oauth/authorize?client_id=69720&redirect_uri=http%3A%2F%2Fletscng-backend-bsx6kqq36q-uc.a.run.app%2Fstrava-oauth%3Fphone%3D'+authService.getPhoneNumber()+'%26cng_redirect_uri%3D'+getCNGRedirectURI()+'&approval_prompt=auto&response_type=code&scope=read%2Cactivity%3Aread'}}"
                role="button"
                id="stravaAuth"
              >
                <img src="../../assets/img/cws.png" height="30">
              </a>
              <app-strava-profile
                *ngIf="stravaProfileFound"
                [athlete]="athlete"
              ></app-strava-profile>
            </div>
            <section class="activities" *ngIf="athlete?.id">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active': tornamentTab === 'myride'}">My Rides</a>
                </li>
              </ul>
              <div *ngIf="tornamentTab === 'myride'">
                <app-my-rides></app-my-rides>
              </div>
            </section>
            <img src="../../assets/img/brand/api_logo_pwrdBy_strava_horiz_light.png" class="img-fluid d-block mx-auto powered-strava" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
