.filter-btn-group {
  button {
    position: relative;

    .fa-check {
      display: none;
    }

    &.active {
      background-color: #bbffcc;
      // color: aliceblue;
      .fa-check {
        display: inline-block;
      }
    }

  }
}

#stravaAuth {
  img {
    height: 100%;
  }
}

.powered-strava {
  max-width: 150px;
}

