<div *ngIf="teamId > 0" class="container pad-0">
  <div class="row clear-margin-lf">
    <div class="col-9">
      <h3 class="h3" id="teamlist">({{getTeamName()}}) - Team</h3>
    </div>
    <div class="col-3 text-right">
      <button *ngIf="isAdmin" class="admin-btn btn btn-dark white-color"
        (click)="markDuplicate()"
        [disabled]="teamMemberStats.length === 0"
      >
        <i class="fa-solid fa-recycle"></i>
      </button>
      <button *ngIf="isAdmin" class="admin-btn btn btn-dark white-color" (click)="refreshTeamList()" [disabled]="teamMemberStats.length === 0">
        <i class="fa-solid fa-arrows-rotate"></i>
      </button>

      <button *ngIf="!isAdmin" class="btn btn-dark" (click)="refreshTeamList()" [disabled]="teamMemberStats.length === 0">Refresh</button>
    </div>
  </div>
  <table
    class="table"
    style="background-position: center; background-size: contain; background-repeat: no-repeat;background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('../../../../assets/img/aw80dteams/{{getTeamName()}}.png')"
  >
    <thead>
      <tr>
        <th>Rank</th>
        <th></th>
        <th>Team Member Name</th>
        <th>Total KM's</th>
      </tr>
    </thead>
    <tbody *ngIf="!loadingStats">
      <tr
        *ngFor="let member of teamMemberStats; let i = index"
        [ngClass]="{'highlight': member.me, 'table-row-selected': authService.isAdminUser() && selectedMember.id === member.id}"
        (click)="setRiderView(member)"
      >
        <td>{{i + 1}}</td>
        <td><img class="profile_pic" src="{{member.profile}}" alt="{{member.name}}" /></td>
        <td>{{member.name}}</td>
        <td>{{member.distance}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="!loadingStats">
      <tr>
        <td colspan="3" class="text-right total">Total</td>
        <td>{{getTeamTotal()}}</td>
      </tr>
    </tfoot>
  </table>

  <div class="alert alert-info" *ngIf="loadingStats">
    <strong>Loading Team Details....</strong>
  </div>
</div>

