.profile_pic {
  height: 50px;
  border-radius: 5px;
}

.table {
  background-position: center!important;
  background-size: contain !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}
