.tab-team-logo {
  width: 50px;
}


.tab-header {
  text-align: center;
  border-bottom: 5px solid lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 0.5px solid #fff;

  &>div {
    background: rgba(255,255,255,0.7);
  }
  &.selected {
    border-bottom: 5px solid #125ea3;
    // background: lightyellow;
  }
}

.fa-solid {
  display: block;
}

.intact {
  white-space: nowrap;
}
