<div class="container">
  <h3 class="h3">Booster - Level 2</h3>
  <p>Target of each Rescue Team is to cover 4200 KMs in 7 days starting Sunday (15th May) and ending on Saturday(21st may). As soon as rescue team achieves 4200 kms within 7 days, the respective lost satellite will be back to the Leaderboard.
  <br/>
  <b>Note</b>: Rescue Rider who covers minimum 250 (Kms) in this 7 days will receive AW80D Theme Baklava.</p>

  <div class="aw80d-tabs container mb-3">
    <div class="row">
      <div
        class="tab-header col-3"
        [ngClass]="{'selected': selectedTab === 1}"
        (click)="selectedTab = 1"
        style="background-image: url('../../../../assets/img/aw80dteams/Kit Sat - South Korea.png')"
      >
        <div>
          Rescue <span class="intact">Kit Sat</span>
          <br/>
          <span class="sm-text">{{getRescueTotals(1)}} KM</span>
        </div>
      </div>
      <div
        class="tab-header col-3"
        [ngClass]="{'selected': selectedTab === 2}"
        (click)="selectedTab = 2"
        style="background-image: url('../../../../assets/img/aw80dteams/Sanmarco - Italy.png')"
      >
        <div>
          Rescue Sanmarco
          <br/>
          <span class="sm-text">{{getRescueTotals(2)}} KM</span>
        </div>
      </div>
      <div
        class="tab-header col-3"
        [ngClass]="{'selected': selectedTab === 3}"
        (click)="selectedTab = 3"
        style="background-image: url('../../../../assets/img/aw80dteams/Sputnik - USSR.png')"
      >
        <div>
          Rescue Sputnik
          <br/>
          <span class="sm-text">{{getRescueTotals(3)}} KM</span>
        </div>
      </div>
      <div
        class="tab-header col-3"
        [ngClass]="{'selected': selectedTab === 4}"
        (click)="selectedTab = 4"
      >
        <i class="fa-solid fa-ranking-star"></i>
        Rescue Leaderboard
      </div>
    </div>
  </div>
  <div *ngIf="boosterWeek2Data.length > 0">
    <!-- <h5 class="h5">Tortoise Challenge Board</h5> -->
    <app-booster-table
      [showRidesCandle]="false"
      [boosterData]="getBoosterWeek2Data(selectedTab)"
      [thresholdKm]="250"
    ></app-booster-table>
  </div>
  <br>
  <br/>
  <h3 class="h3">Booster - Level 1 (Completed)</h3>
  <p>This is an additional thrust provided by firing proper booster so that payload can be placed in desired orbit. Astronauts 👨‍🚀👩‍🚀 who are below 3️⃣0️⃣0️⃣ kms in the last 20 days will be locked in this challenge for 1 week starting Sunday 25th April with the target to cross a total of 2️⃣0️⃣0️⃣ kms. Astronauts on successfully crossing the target will be awarded by a special gift.</p>


  <!-- <div *ngIf="topRidersData.length > 0">
    <h5 class="h5">Rabbit Challenge Board</h5>
    <app-booster-table [boosterData]="topRidersData"></app-booster-table>
  </div> -->
  <!-- <hr/> -->
  <div *ngIf="bottomRidersData.length > 0">
    <!-- <h5 class="h5">Tortoise Challenge Board</h5> -->
    <app-booster-table
      [boosterData]="bottomRidersData"
      [thresholdKm]="200"
    ></app-booster-table>
  </div>
</div>
