<div class="container">
  <h3 class="h3">Booster - Level 3 (6th June - 12th June)</h3>
  <p>
    <b>THE MISSION SALUTE: </b>6 Middle Order Riders (Rank 10 - 15) of each Team have to contribute 1️⃣1️⃣0️⃣0️⃣ kms in 7 days.
    <br/>
    <b>PERFORMANCE MATRIX: </b>
    <br/>
    ▶️ Fails to achieve 900 Kms in 7 days, all the top three riders will not get their dues and may leave the team. 😭<br/>
▶️ Achieves 900 Kms but fails to achieve 1000 kms in 7 days, all top two👥 riders will miss their due (3rd will be rewarded)<br/>
▶️ Achieves 1000 Kms but fails to achieve 1100 kms in 7 days, top 👤one rider will miss his/her due (2nd and 3rd will get their dues)<br/>
▶️ Achieves 1100 Kms , all top riders will get their dues in the mission with his/her kms

  </p>

  <div class="aw80d-tabs container mb-3">
    <div class="row">
      <div
        class="tab-header col-6"
        [ngClass]="{'selected': selectedTabBooster3 === 1}"
        (click)="selectedTabBooster3 = 1"
      >
        <i class="fa-solid fa-satellite"></i>
        Team Leaderboard
      </div>
      <div
        class="tab-header col-6"
        [ngClass]="{'selected': selectedTabBooster3 === 2}"
        (click)="selectedTabBooster3 = 2"
      >
        <i class="fa-solid fa-ranking-star"></i>
        Rider's Leaderboard
      </div>
    </div>
  </div>
  <div *ngIf="boosterWeek3Data.length > 0">
    <div *ngIf="selectedTabBooster3 == 1">
      <app-booster3-team-leaderboard
        [boosterWeek3TeamTotals]="getBoosterWeek3TeamLeaderboard()"
      >
      </app-booster3-team-leaderboard>
    </div>
    <div *ngIf="selectedTabBooster3 === 2">
      <app-booster-table
        [showRidesCandle]="false"
        [boosterData]="getBoosterWeek3RiderLeaderboard()"
        [thresholdKm]="250"
      ></app-booster-table>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <h3 class="h3">Booster - Level 2 (Completed)</h3>
  <p>Target of each Rescue Team is to cover 4200 KMs in 7 days starting Sunday (15th May) and ending on Saturday(21st may). As soon as rescue team achieves 4200 kms within 7 days, the respective lost satellite will be back to the Leaderboard.
  <br/>
  <b>Note</b>: Rescue Rider who covers minimum 250 (Kms) in this 7 days will receive AW80D Theme Baklava.</p>

  <div class="aw80d-tabs container mb-3">
    <div class="row">
      <div
        class="tab-header col-3"
        [ngClass]="{'selected': selectedTab === 1}"
        (click)="selectedTab = 1"
        style="background-image: url('../../../../assets/img/aw80dteams/Kit Sat - South Korea.png')"
      >
        <div>
          Rescue <span class="intact">Kit Sat</span>
          <br/>
          <span class="small-text">{{getRescueTotals(1)}} KM</span>
        </div>
      </div>
      <div
        class="tab-header col-3"
        [ngClass]="{'selected': selectedTab === 2}"
        (click)="selectedTab = 2"
        style="background-image: url('../../../../assets/img/aw80dteams/Sanmarco - Italy.png')"
      >
        <div>
          Rescue Sanmarco
          <br/>
          <span class="small-text">{{getRescueTotals(2)}} KM</span>
        </div>
      </div>
      <div
        class="tab-header col-3"
        [ngClass]="{'selected': selectedTab === 3}"
        (click)="selectedTab = 3"
        style="background-image: url('../../../../assets/img/aw80dteams/Sputnik - USSR.png')"
      >
        <div>
          Rescue Sputnik
          <br/>
          <span class="small-text">{{getRescueTotals(3)}} KM</span>
        </div>
      </div>
      <div
        class="tab-header col-3"
        [ngClass]="{'selected': selectedTab === 4}"
        (click)="selectedTab = 4"
      >
        <i class="fa-solid fa-ranking-star"></i>
        Rescue Leaderboard
      </div>
    </div>
  </div>
  <div *ngIf="boosterWeek2Data.length > 0">
    <!-- <h5 class="h5">Tortoise Challenge Board</h5> -->
    <div *ngIf="selectedTab < 4">
      <app-booster-table
        [showRidesCandle]="false"
        [boosterData]="getBoosterWeek2Data(selectedTab)"
        [thresholdKm]="0"
      ></app-booster-table>
    </div>
    <div *ngIf="selectedTab === 4">
      <app-booster-table
        [showRidesCandle]="false"
        [boosterData]="getBoosterWeek2Data(selectedTab)"
        [thresholdKm]="250"
      ></app-booster-table>
    </div>
  </div>
  <br>
  <br/>
  <h3 class="h3">Booster - Level 1 (Completed)</h3>
  <p>This is an additional thrust provided by firing proper booster so that payload can be placed in desired orbit. Astronauts 👨‍🚀👩‍🚀 who are below 3️⃣0️⃣0️⃣ kms in the last 20 days will be locked in this challenge for 1 week starting Sunday 25th April with the target to cross a total of 2️⃣0️⃣0️⃣ kms. Astronauts on successfully crossing the target will be awarded by a special gift.</p>


  <!-- <div *ngIf="topRidersData.length > 0">
    <h5 class="h5">Rabbit Challenge Board</h5>
    <app-booster-table [boosterData]="topRidersData"></app-booster-table>
  </div> -->
  <!-- <hr/> -->
  <div *ngIf="bottomRidersData.length > 0">
    <!-- <h5 class="h5">Tortoise Challenge Board</h5> -->
    <app-booster-table
      [boosterData]="bottomRidersData"
      [thresholdKm]="200"
    ></app-booster-table>
  </div>
</div>
