.loading-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0,0.5);
  z-index: 1000;
  display: inline-block;
  top: 0;
  cursor: wait;
  text-align: center;

  .loading {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    height: 300px;
    width: 300px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0px 5px grey;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    position: absolute;
    text-align: center;

    .progress-img {
      width: 100%;
    }

    .message {
      color: #125ea3;
      font-size: x-large;
    }

    /*
    Set the color of the icon
    */
    svg path,
    svg rect{
      fill: #125ea3;
    }
  }
}

